
.normal {
    background-color: #acaa7a;

}

.flying {
    background-color: #9e8fc5;

}

.water {
    background-color: #6e8bc6;

}

.ice {
    background-color: #98d6d5;

}

.fire {
    background-color: #f17f2d;

}

.dragon {
    background-color: #6357a6;

}

.electric {
    background-color: #f7d233;

}

.steel {
    background-color: #b8b8d2;

}

.rock {
    background-color: #b9a338;

}

.ground {
    background-color: #e0c166;

}

.grass {
    background-color: #79c251;

}

.fairy {
    background-color: #f7cbdf;

}

.psychic {
    background-color: #f05889;

}

.fighting {
    background-color: #c4312b;

}

.bug {
    background-color: #aaba39;

}

.poison {
    background-color: #9e4399;

}

.dark {
    background-color: #725a4a;

}

.ghost {
    background-color: #71599a;

} 

.pokemonNav {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1.25rem 1rem;
    color: #FFF;
    border-radius: .8rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
    margin-bottom: 0;
}

.pokemon .name {
    text-transform: capitalize;
    color: #FFF;
    margin: .25rem 0;
    font-size: 1.1rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pokemon .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #e2e2e2;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    width: 100%;
    max-width: 100px;
    height: 80px;
    align-self: flex-end;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: #FFF;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .9rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 360px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}